:root {
	--accent: #0db50d;
	--text-light-bg: #000;
	--text-dark-bg: #fff;
	--black: #000;
	--white: #fff;
	--header-height: 3.65rem;
}
[data-theme="dark"] {
	--accent: #0db50d;
	--black: #fff;
	--white: #000;
	--header-height: 3.65rem;
}

@font-face {
	font-family: 'Press Start 2P';
	font-style: normal;
	font-display: swap;
	font-weight: 400 700;
	src: url(https://cdn.jsdelivr.net/fontsource/fonts/press-start-2p@latest/latin-400-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/press-start-2p@latest/latin-400-normal.woff) format('woff');
	unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}
@font-face {
	font-family: 'Inter Variable';
	font-style: normal;
	font-display: swap;
	font-weight: 100 900;
	src: url(https://cdn.jsdelivr.net/fontsource/fonts/inter:vf@latest/latin-wght-normal.woff2) format('woff2-variations');
	unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

body {
	font-family: "Press Start 2P", sans-serif;
	margin: 0;
	padding: 0;
	text-align: left;
	background: var(--white);
	background-size: 100% 600px;
	word-wrap: break-word;
	overflow-wrap: break-word;
	color: var(--black);
	font-size: 20px;
	line-height: 1.7;
	display: flex;
	flex-direction: column;
	min-height: 100dvh;
}
main {
	max-width: calc(100% - 0.75em);
	margin: auto;
	padding: 1em;
	flex-grow: 1;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 0.5rem 0;
	color: rgb(var(--black));
	line-height: 1.2;
}
h1 {
	font-size: 3.052em;
}
h2 {
	font-size: 2.441em;
}
h3 {
	font-size: 1.953em;
}
h4 {
	font-size: 1.563em;
}
h5 {
	font-size: 1.25em;
}
strong,
b {
	font-weight: 700;
}
a {
	color: var(--accent);
}
a:hover {
	color: var(--accent);
}
p {
	margin-bottom: 1em;
}
.prose p {
	margin-bottom: 2em;
}
textarea {
	width: 100%;
	font-size: 16px;
}
input {
	font-size: 16px;
}
table {
	width: 100%;
}
img {
	max-width: 100%;
	height: auto;
	border-radius: 8px;
}
code {
	padding: 2px 5px;
	background-color: var(--white);
	border-radius: 2px;
}
pre {
	padding: 1.5em;
	border-radius: 8px;
}
pre > code {
	all: unset;
}
blockquote {
	border-left: 4px solid var(--accent);
	padding: 0 0 0 20px;
	margin: 0px;
	font-size: 1.333em;
}
hr {
	border: none;
	border-top: 1px solid var(--white);
}
@media (max-width: 720px) {
	body {
		font-size: 18px;
	}
	main {
		padding: 1em;
	}
}

.sr-only {
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	/* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
	clip: rect(1px 1px 1px 1px);
	/* maybe deprecated but we need to support legacy browsers */
	clip: rect(1px, 1px, 1px, 1px);
	/* modern browsers, clip-path works inwards from each corner */
	clip-path: inset(50%);
	/* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
	white-space: nowrap;
}

/* Project stuff */

.project-logo {
	padding: 0;
	margin: 0.5em auto;
	width: 6rem;
	height: 6rem;
	border-radius: 10px;
	display: flex;
}
.project-title {
	font-size: 4em;
}
.project-desc {
	font-size: 1em;
	margin: 1em auto;
}
.project-center {
	text-align: center;
}

.fps-compare {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 24px;
	gap: 0.5rem;
}
.fps-compare-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 7.5px;
	margin: 0;
	padding: 0.5rem 1rem 0.5rem 1rem;
	width: 10em;
}
.fps-compare-box h3 {
	font-weight: 400;
	font-size: 1em;
	margin: 0;
	padding: 0;
}
.fps-compare-box p {
	font-size: 2em;
	margin: 0;
	padding: 0;
}

@media (max-width: 500px) {
	.fps-compare {
		flex-direction: column;
	}
	.project-title {
		font-size: 3em;
	}
}