---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main id="main">
			<h1 class="pageheader">ceilingash Projects</h1>
			<div class="project-boxes">
				<a href="/harmony" class="project-box harmony">
					<h2>Harmony</h2>
				</a>
				<a href="/blacksmith" class="project-box blacksmith">
					<h2>Blacksmith</h2>
				</a>
				<a href="/excalibur" class="project-box excalibur">
					<h2>Excalibur</h2>
				</a>
				<a href="/portalmodpack" class="project-box portalmp">
					<h2>PortalMP</h2>
				</a>
				<a href="/bioshockmodpack" class="project-box bioshockmp">
					<h2>BioshockMP</h2>
				</a>
				<a href="/glowlichenfix" class="project-box glowlichenfix">
					<h2>GlowLichenFix</h2>
				</a>
			</div>
		</main>
		<Footer />
	</body>
</html>
<style>
	body {
		background-color: var(--white);
	}
	a {
		color: black;
	}

	.pageheader {
		display: flex;
		justify-content: center;
		text-align: center;
		margin-bottom: 1em;
		font-size: 2em;
	}

	.project-boxes {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 1em;
		margin: 0;
		padding: 0;
	}
	.project-box {
		display: flex;
		justify-content: center;
		margin: 0;
		padding: 2em 2em 1em 2em;
		width: auto;
		height: auto;
		font-size: 1em;
		text-decoration: none;
	}
	.harmony {
		background-color: #fed315;
	}
	.blacksmith {
		background-color: #363636;
		color: #fff;
	}
	.excalibur {
		background-color: #090029;
		color: #fff;
	}
	.portalmp {
		background-color: #0044ff;
		color: #fff;
	}
	.bioshockmp {
		background-color: #382000;
		color: #fff;
	}
	.glowlichenfix {
		background-color: #6d897e;
		color: #fff;
	}

	@media (max-width: 1400px) {
		.pageheader {
			font-size: 1.5em;
		}
		.project-box {
			font-size: 0.5em;
		}
		.project-boxes {
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 0.5em;
			margin: 0;
			padding: 0;
		}
	}

	@media (max-width: 610px) {
		.pageheader {
			font-size: 1.5em;
		}
		.project-box {
			font-size: 0.4em;
		}
		.project-boxes {
			display: grid;
			grid-template-columns: 1fr;
			gap: 1em;
			margin: 0;
			padding: 0;
		}
	}
</style>
