---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;
const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, '');
const subpath = pathname.match(/[^\/]+/g);
---

<a href={href} class:list={[className]} {...props}>
	<slot />
</a>
<style>
	a {
		display: inline-block;
        margin: 0;
        padding: 0.25em 0.5em;
        font-size: 1em;
        color: #fff !important;
        font-weight: bold;
        background-color: var(--accent);
        text-decoration: none;
        font-family: "Press Start 2P", sans-serif;
	}
</style>
